
<link rel="stylesheet" href="~/css/Manager/addProduct.css" />

    <div class="newProduct">
        <form action="~/Manager/AddProduct">
            <p>
                <label for="name">Product Name:</label><br />
                <input type="text" id="name" name="name" required maxlength="20" />
            </p>
            <div class="select">
                <p>Select shape:</p>
                <p>
                    <input type="radio" value="square" checked name="shape" />Square
                </p>
                <p>
                    <input type="radio" value="circle" name="shape" />Circle
                </p>
                <p>
                    <input type="radio" value="triangle" name="shape" />Triangle
                </p>
            </div>
            <div class="select">
                <p>Select color:</p>
                <p>
                    <input type="radio" value="red" checked name="color" />Red
                </p>
                <p>
                    <input type="radio" value="blue" name="color" />Blue
                </p>
                <p>
                    <input type="radio" value="yellow" name="color" />Yellow
                </p>
            </div>
            <div class="inputs">
                <p>
                    <label for="path">Image Path:</label><br />
                    <input type="text" id="path" name="path" required />
                </p>
                <p>
                    <label for="price">Price:</label><br />
                    <input type="text" id="price" name="price" pattern="^\d+(,\d{1,2})?$" required />
                </p>
                <p>
                    <label for="quantity">Quantity:</label><br />
                    <input type="number" id="quantity" min="1" max="1000" name="quantity" required />
                </p>
            </div>
            <p>
                <div class="button"><input type="submit" value="ADD PRODUCT" /></div>
            </p>
        </form>
    </div>