
    <style>
        .aboutus {
            float: left;
            height: 200px;
            width: 800px;
            margin-top: 20px;
            margin-left: 20px;
        }

            .aboutus p {
                display: flex;
                align-items: center;
                justify-content: left;
            }
    </style>

    <div class="aboutus">
        <p>This is e-commerce app designed for testing ASP.NET Core MVC technology.</p>
        <p>It's not real store.</p>
    </div>

