
<link rel="stylesheet" href="~/css/NavBar/contacts.css" />

    <div class="contacts">
        <p>Please contact us if you have any questions:  </p>
        <p><img src="\Icons\email.png" />&ensp;productstore@gmail.com</p>
        <p><img src="\Icons\workhours.png" />&ensp;Monday - Friday (9am - 5pm)</p>
        <p><img src="\Icons\location.png" />&ensp;Kyiv, Ukraine</p>
    </div>
    <div class="map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d325515.6816598763!2d30.25250249915429!3d50.40213674931967!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4cf4ee15a4505%3A0x764931d2170146fe!2z0JrQuNC10LIsIDAyMDAw!5e0!3m2!1sru!2sua!4v1662196474817!5m2!1sru!2sua" width="400" height="400" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
