
<link rel="stylesheet" href="~/css/NavBar/faq.css" />

    <div class="faq">
        <p><b>1.How many items can i buy in one order?</b></p>
        <p>No more than 100</p>
        <br />
        <p><b>2.What way my orders can be delivered?</b></p>
        <p>Any convenient for you</p>
    </div>

