
<style>
    .faq {
        float: left;
        height: 200px;
        width: 500px;
        margin-top: 20px;
        margin-left: 20px;
    }
        .faq p {
            margin: 5px;
            display: flex;
            align-items: center;
            justify-content: left;
        }


</style>

    <div class="faq">
        <p><b>1.How many items can i buy in one order?</b></p>
        <p>No more than 100</p>
        <br />
        <p><b>2.What way my orders can be delivered?</b></p>
        <p>Any convenient for you</p>
    </div>

