
.aboutus {
    float: left;
    height: 200px;
    width: 800px;
    margin-top: 20px;
    margin-left: 20px;
}

.aboutus p {
    display: flex;
    align-items: center;
    justify-content: left;
}


