
.contacts {
    float: left;
    height: 200px;
    width: 500px;
    margin-top: 20px;
    margin-left: 20px;
}

.contacts img {
    height: 50px;
    width: 50px;
}

.contacts p {
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: left;
}

.map {
    float: left;
    height: 400px;
    width: 400px;
    margin-top: 20px;
}

    .map iframe {
        height: 400px;
        width: 400px;
    }


